body{
    background-color: #85ab70;
    font-family: 'Times New Roman', Times, serif;
}
section{
    background-color: #fffff0;
    color: #865445;
    border: 2px solid #865445;
    padding: 1rem;
}
nav{
    background-color: #fffff0;
    color: #865445;
    border: 2px solid #865445;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}
header>img{
    max-width: 80%;
}
nav>a{
    color: #865445;
    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: 2fr;
}
header>img{
    max-height: 20rem;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
nav{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.headerleaf{
    max-width: 90%;
    grid-column-start: 2;
    transform: rotate(50deg);
}
#contact>img{
    max-width: 50%;
    display: inline-block;
}
section:nth-child(1){
    display: inline-block;
    width: 35%;
    vertical-align: middle; 
    margin: 1rem;
}
.me{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
#aboutme{
    display: inline-block;
    width: 35%;
    margin: 1rem;
}
#aboutme>img{
    width: 50%;
    display: inline-block;
}
.aboutmeleaf>img{
    max-width: 45%; 
}
#projects{
    display: inline-block;
    width: 50%;
    margin: 1rem;
}
#projects>img{
    width: 50%;
    display: inline-block;
}
#school{
    display: inline-block;
    width: 50%;
    margin: 1rem;
}
#awards{
    display: inline-block;
    width: 50%;
    margin: 1rem;
}
#awards>img{
    max-width: 50%;
    display: inline-block;
}
#school>img{
    max-width: 30%;
    display: inline-block;
}
.projectleaf{
    max-width: 50%;
}
.awardleaf{
    max-width: 50%;
}